a {
    color: #991B21;
}

pre {
    border-left: 0.3rem solid #991B21;
}


input[type='color']:focus, input[type='date']:focus, input[type='datetime']:focus, input[type='datetime-local']:focus, input[type='email']:focus, input[type='month']:focus, input[type='number']:focus, input[type='password']:focus, input[type='search']:focus, input[type='tel']:focus, input[type='text']:focus, input[type='url']:focus, input[type='week']:focus, input:not([type]):focus, textarea:focus, select:focus {
    border-color: #991B21;
}

.logo {
    margin: 50px;
    height: 200px;
}

.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
    background-color: #374F9C;
    border: 0.1rem solid #374F9C;
}

.button.button-clear, button.button-clear, input[type='button'].button-clear, input[type='reset'].button-clear, input[type='submit'].button-clear {
    color: #374F9C;
}


.counter {
    margin-left: 25px;
    margin-right: 25px;

    font-size: 18px;
}

.todo-item {
    width: 100%;
    padding-left: 30px;

    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.todo-input,
.todo-done-button {
    margin: 0;
}

.header-content {
    text-align: center;
}

.example {
    margin-bottom: 80px;
}
